{% extends 'layout.html' %}
{% load getType %}
{% block content %}

<h2 style="color: black "> Country: {{ name }}<img style="padding-left: 20px"
                                                   src="https://www.countryflags.io/{{ country_code }}/flat/64.png"
                                                   onerror="this.style.display='none'"></h2></th>

<br/>
{% if area|get_content is False %}
<p><b>Area: </b> {{ area }}</p>
{% endif %}
{% if capital|get_content is False %}
<p><b>Capital: </b> {{ capital }}</p>
{% endif %}
{% if localname|get_content is False %}
<p><b>Local name: </b> {{ localname }}</p>
{% endif %}


{% if population|get_content is False %}
{% if population|get_type == 'str' %}
<p><b>Population: </b> {{ population }}
    <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;" type="button"
            class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPopulation">+ Add population measure
    </button>
</p>
{% else %}
<p><b>Population: </b>
    <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
            type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPopulation">+ Add population
        measure
    </button>
</p>
<table>
    <tbody>
    {% for name,code in population.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">Year {{ name }}: {{ code }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}
{% endif %}

<table style="width: 100%;table-layout: fixed">
    <tbody>
    {% if population_growth|get_content is False %}
    <tr style="padding-bottom: 4px;margin-bottom: 4px;margin-top: 4px;
                        border-top: 1px solid rgba(0, 0, 0, 0.125);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td style="width: 95%"><p><b>Population growth: </b> {{ population_growth }}</p></td>
        <td>
            <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
                    type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPopGrowth">Edit
            </button>
        </td>
    </tr>
    {% endif %}
    {% if gdp_total|get_content is False %}

    <tr style="padding-bottom: 4px;margin-bottom: 4px;margin-top: 4px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td><p><b>GDP total: </b> {{ gdp_total }}</p></td>
        <td>
            <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
                    type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myGDP">Edit
            </button>
        </td>
    </tr>

    {% endif %}
    {% if inflation|get_content is False %}
    <tr style="padding-bottom: 4px;margin-bottom: 4px;margin-top: 4px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td><p><b>Inflation: </b> {{ inflation }}</p></td>
        <td>
            <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
                    type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myInflation">Edit
            </button>
        </td>
    </tr>
    {% endif %}
    {% if unemployment|get_content is False %}
    <tr style="padding-bottom: 4px;margin-bottom: 4px;margin-top: 4px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td><p><b>Unemployment: </b> {{ unemployment }}</p></td>
        <td>
            <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
                    type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myUnemployment">Edit
            </button>
        </td>
    </tr>
    {% endif %}

    {% if government|get_content is False %}
    <tr style="padding-bottom: 4px;margin-bottom: 4px;margin-top: 4px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td><p><b>Government: </b> {{ government }}</p></td>
        <td>
            <button style="background-color: #28a745;border-color:#28a745; height: 30px;font-size: small;"
                    type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myGovernment">Edit
            </button>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% if dependent|get_content is False %}
<p><b>Dependent: </b> {{ dependent }}</p>
{% endif %}

{% if indep_date|get_content is False %}
<p><b>Independence date: </b> {{ indep_date }}</p>
{% endif %}


{% if  lst_enc|get_content is False %}
<p><b>Encompassed: </b></p>
<table>
    <tbody>
    {% for name in lst_enc %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% else %}
{% if encompassed is not null %}
<p><b>Encompassed: </b></p>
<table>
    <tbody>
    {% for name,code in encompassed.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}: {{ code }}%</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}
{% endif %}

{% if lst_eth|get_content is False %}
<p><b>Ethnic group: </b></p>
<table>
    <tbody>
    {% for name in lst_eth %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% else %}
{% if ethnicgroup|get_content is False %}
{% if ethnicgroup|get_type == 'str' %}
<p><b>Ethnic group: </b> {{ ethnicgroup }}</p>
{% endif %}
{% if ethnicgroup %}
<p><b>Ethnic group: </b></p>
<table>
    <tbody>
    {% for name,code in ethnicgroup.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}: {{ code }}%</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}
{% endif %}
{% endif %}

{% if lst_rel %}
<p><b>Religion: </b></p>
<table>
    <tbody>
    {% for name in lst_rel %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% else %}
{% if religion|get_type == 'str' %}
<p><b>Religion: </b> {{ religion }}</p>
{% endif %}
{% if religion %}
<p><b>Religion: </b></p>
<table>
    <tbody>
    {% for name,code in religion.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}: {{ code }}%</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}
{% endif %}

{% if  lst_lang|get_content is False %}
<p><b>Language: </b></p>
<table>
    <tbody>
    {% for name in lst_lang %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% else %}
{% if language|get_type == 'str' %}
<p><b>Language: </b> {{ language }}</p>
{% endif %}
{% if language %}
<p><b>Language: </b></p>
<table>
    <tbody>
    {% for name,code in language.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ name }}: {{ code }}%</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}
{% endif %}

{% if border|get_content is False %}
<p><b>Border: </b></p>
<table>
    <tbody>
    {% for code,name in border.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ code }}: {{ name }} km</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}

{% if province|get_content is False %}
<p><b>Provinces: </b></p>
<table>
    <tbody>
    {% for code,name in province.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px" href="/province/{{ code }}">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}

{% if city|get_content is False %}
<p><b>Cities: </b></p>
<table>
    <tbody>
    {% for code,name in city.items %}
    <tr>
        <td><a style="color: black; padding-left: 25px" href="/city/{{ code }}">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}

{% if comments|get_content is False %}
<p><b>Comments: </b></p>
<table>
    <tbody>
    {% for message in comments %}
    <tr>
        <td><a style="color: black; padding-left: 25px">{{ message }} </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endif %}

<div>
    <br/>
    <br/>
    <h3 style="text-align: center" class="text-uppercase">COMMENT</h3>
    <p style="text-align: center; font-size: small" class="item-intro text-muted">Give us your opinion.</p>
    <form id="commentform" action="{% url 'get_comment' country_code %}" method="POST">
        {% csrf_token %}
        <textarea id="your_comment" name="your_comment" rows="8" cols="115">{{ form }}</textarea>
        <br/>
        <br/>
        <input style="alignment: center" type="submit" id="submit" class="btn btn-primary" data-dismiss="modal"
               value="Submit"/>
    </form>
</div>


<div id="myGDP" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Edit GDP:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editGDP" action="{% url 'edit_gdp' country_code %}" method="POST">
                    {% csrf_token %}
                    <p>GDP: &nbsp;&nbsp;<input id="gdp" name="gdp" size="10"/></p>
                    <input style="margin-left: 80%;height: 30px; font-size: small" type="submit" id="submit"
                           class="btn btn-primary" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

<div id="myPopulation" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>New population measure:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="addPopulation" action="{% url 'add_population' country_code %}" method="POST">
                    {% csrf_token %}


                    <p>Year:&nbsp;&nbsp;<input id="year" name="year" size="10"/></p>
                    <p>Population:&nbsp;&nbsp;<input id="population" name="population" size="10"/></p>

                    <input style="margin-left: 80%;background-color: #28a745;border-color:#28a745; height: 30px;
                                font-size: small;" type="submit" id="submit" class="btn btn-info btn-sm"
                           value="Submit"/>

                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="myPopGrowth" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Edit population growth:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editPopGrowth" action="{% url 'edit_pop_growth' country_code %}" method="POST">
                    {% csrf_token %}

                    <p>Population growth: &nbsp;&nbsp;<input id="pop_growth" name="pop_growth" size="10"/></p>
                    <input style="margin-left: 80%;height: 30px; font-size: small" type="submit" id="submit"
                           class="btn btn-primary" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="myInflation" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Edit inflation:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editInflation" action="{% url 'edit_inflation' country_code %}" method="POST">
                    {% csrf_token %}

                    <p>Inflation: &nbsp;&nbsp;<input id="inflation" name="inflation" size="10"/></p>
                    <input style="margin-left: 80%;margin-left: 60%;height: 30px; font-size: small" type="submit"
                           id="submit" class="btn btn-primary" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="myUnemployment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Edit unemployment:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editUnemployment" action="{% url 'edit_unemployment' country_code %}" method="POST">
                    {% csrf_token %}

                    <p>Unemployment: &nbsp;&nbsp;<input id="unemployment" name="unemployment" size="10"/></p>
                    <input style="margin-left: 80%;height: 30px; font-size: small" type="submit" id="submit"
                           class="btn btn-primary" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="myGovernment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Edit government:</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editGovernment" action="{% url 'edit_government' country_code %}" method="POST">
                    {% csrf_token %}

                    <p>Government: &nbsp;&nbsp;<input id="government" name="government" size="40"/></p>
                    <input style="margin-left: 80%;height: 30px; font-size: small" type="submit" id="submit"
                           class="btn btn-primary" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

{% endblock %}