{% extends 'layout.html' %}
{% block content %}

    <h2 style="color: #28a745"> {{ continent }}</h2>
    <table>
        <tbody>
            {% for name,code in countries.items %}
                <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
                    <td><a style="color: black" href="/countries/{{ code }}">{{ name }}</a></td>
                    <td style="padding-left: 60vw">
                        <form action="{% url 'delete_country' continent=continent_id country_code=code %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</html>
{% endblock %}