{% extends 'layout.html' %}
{% block content %}

<h2 style="color: #28a745"> {{ name }}</h2>
{% if localname|length > 0 %}
<p><b>Local name: </b> {{ localname }} </p>
{% endif %}
{% if area|length > 0 %}
<p><b>Area: </b> {{ area }} km &#178</p>
{% endif %}
{% if capital|length > 0 %}
<p><b>Capital: </b> {{ capital }}</p>
{% endif %}
{% if population|length > 0 %}
<p><b>Population: </b> {{ population }}</p>
{% endif %}
<p><b>Cities: </b></p>
<table>
    <tbody>
    {% for code,name in cities.items %}
    <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
        <td><a style="color: black; padding-left: 25px" href="/city/{{ code }}">{{ name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</html>
{% endblock %}