h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td, th, tr {
    border: 2px solid black;
    text-align: center;
}

.checkbox_wrapper {
    position: relative;
    height: 50px;
    width: 50px;
}

input[type="checkbox"] {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

input[type="checkbox"] + label {
    background-color: white;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

input[type="checkbox"]:checked + label {
    background-color: #666;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0 0 0 0px;
}

li {
    margin: 20px 0;
    list-style-position: outside;
}

#myPlayer {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: block !important;
    position: sticky !important;
    bottom: 0px !important;
    text-align: center !important;
}

.repeat {
    display: inline;
}

.animation {
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.animation:focus {
    width: 30% !important;
}