{% extends 'layout.html' %}
{% block content %}
    <h3 style="color: black "> Mountain: {{ mount_name }}</h3></th>
    <br/>
    <p><b>Latitude: </b> {{ mount_lat }}º</p>
    <p><b>longitude: </b> {{ mount_longe }}º</p>
    <p><b>Elevation: </b> {{ mount_elev }} m</p>
    {% if type|length > 0 %}
        <p><b>Type: </b> {{ type }}</p>
    {% endif %}
    {% if last_eruption|length > 0 %}
        <p><b>Last eruption: </b> {{ last_eruption }}</p>
    {% endif %}
    <p><b>Located in: </b></p>
    {% if mount_countries|length > 0 %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Countries: </b></p>
    <table>
        <tbody>
            {% for name in mount_countries %}
                <tr>
                    <td><a style="color: black; padding-left: 40px">{{ name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if mount_provinces|length > 0 %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Provinces: </b></p>
        <table>
            <tbody>
            {% for n in mount_provinces %}
                <tr>
                    <td><a style="color: black; padding-left: 40px">{{ n }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}