{% extends 'layout.html' %}
{% block content %}
    <h3 style="color: black ">River: {{ name }}</h3></th>
    <br/>
    {% if area|length > 0 %}
        <p><b>Area: </b> {{ area }} km &#178</p>
    {% endif %}
    {% if length|length > 0 %}
        <p><b>Length: </b> {{ length }} km</p>
    {% endif %}
    {% if flows_to|length > 0 %}
        <p><b>Flows to: </b> {{ flows_to }}</p>
    {% endif %}
    {% if source_lat|length > 0 %}
        <p><b>Source latitude: </b> {{ source_lat }}º</p>
    {% endif %}
    {% if source_long|length > 0 %}
        <p><b>Source longite: </b> {{ source_long }}º</p>
    {% endif %}
    {% if source_elev|length > 0 %}
        <p><b>Source elevation: </b> {{ source_elev }} m</p>
    {% endif %}
    {% if estuary_lat|length > 0 %}
        <p><b>Estuary latitude: </b> {{ estuary_lat }}º</p>
    {% endif %}
    {% if estuary_long|length > 0 %}
        <p><b>Estuary longite: </b> {{ estuary_long }}º</p>
    {% endif %}
    {% if estuary_elev|length > 0 %}
        <p><b>Estuary elevation: </b> {{ estuary_elev }} m</p>
    {% endif %}
    <p><b>Flows through(countries): </b></p>
    <table>
        <tbody>
            {% for name in flows_through %}
                <tr>
                    <td><a style="color: black; padding-left: 20px">{{ name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}