/Bar.class
/BarMessageExchange.class
/GeneralRepos.class
/GeneralReposMessageExchange.class
/Kitchen.class
/KitchenMessageExchange.class
/SharedRegionInterface.class
/Table.class
/TableMessageExchange.class
/package-info.class
