# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Martim\Desktop\Uni\4_ano_1_semestre\EDC\Projeto 2\EDC-Project-2\Wiki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
