USE [master]
GO
/****** Object:  Database [p2g5]    Script Date: 07-Jun-19 18:24:59 ******/
CREATE DATABASE [p2g5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p2g5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p2g5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'p2g5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p2g5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p2g5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p2g5]
GO
/****** Object:  User [p2g5]    Script Date: 07-Jun-19 18:25:00 ******/
CREATE USER [p2g5] FOR LOGIN [p2g5] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p2g5]
GO
/****** Object:  Schema [ex41]    Script Date: 07-Jun-19 18:25:00 ******/
CREATE SCHEMA [ex41]
GO
/****** Object:  Schema [ex42]    Script Date: 07-Jun-19 18:25:00 ******/
CREATE SCHEMA [ex42]
GO
/****** Object:  UserDefinedFunction [dbo].[AVERAGE_PARTS]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AVERAGE_PARTS]() RETURNS @avg TABLE(Average FLOAT)
AS 
BEGIN
	DECLARE @parts AS TABLE (Revision INT, Parts INT);
	DECLARE @avrg FLOAT;
	INSERT @parts SELECT REVISION.REVISION_NO AS Revision, COUNT(REVISION.REVISION_NO) AS Parts
		FROM REVISION JOIN CHANGED_PARTS ON REVISION.REVISION_NO=CHANGED_PARTS.REVISION_NO
		GROUP BY REVISION.REVISION_NO

	SELECT @avrg = AVG(Cast(Parts as Float)) FROM @parts
	
	INSERT @avg SELECT @avrg

	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[BEST_MECHANIC]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BEST_MECHANIC]() RETURNS @most_revisions TABLE(Mechanic varchar(60), Revisions INT)
AS
BEGIN
	DECLARE @mechanics AS TABLE (Mechanic varchar(60), Revisions INT);
	DECLARE @most_revision INT;
	INSERT @mechanics SELECT S_NAME, COUNT(MECHANIC)
						FROM REVISION JOIN MECHANIC ON REVISION.MECHANIC=MECHANIC.NUMBER
						JOIN STAFF_MEMBER ON MECHANIC.NUMBER=STAFF_MEMBER.NUMBER
						GROUP BY S_NAME
	
	SELECT @most_revision=MAX(Revisions) FROM @mechanics;
	
	INSERT @most_revisions SELECT TOP 1* FROM @mechanics WHERE Revisions=@most_revision;
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[BEST_SALESMAN]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BEST_SALESMAN]() RETURNS @highest_sales TABLE(Salesman varchar(60), Total_Sales INT)
AS
BEGIN
	
	DECLARE @sum_sales AS TABLE(Salesman varchar(60), Total_Sum INT);
	DECLARE @highest_sale AS INT;
	INSERT @sum_sales SELECT Salesman, SUM(PRICE) As Highest_sales FROM SALESMAN_SALES GROUP BY Salesman
	SELECT @highest_sale=MAX(Total_Sum) FROM @sum_sales;

	INSERT @highest_sales SELECT Salesman, Total_Sum FROM @sum_sales WHERE Total_Sum=@highest_sale;

	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[BIKES_FROM_MOTOSTATION]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BIKES_FROM_MOTOSTATION](@motostation INT) returns @Bike_table Table
												(Frame_no INT, Localization varchar(30), Motorcycle varchar(50), Price_km INT,
												Total_km INT) 
AS
BEGIN
	IF(@motostation = -1)
	BEGIN
		INSERT @Bike_table SELECT RENTABLE_BIKE.FRAME_NO, LOCALIZATION As Motostation, BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle, PRICE_KM As Price_km,
			TOTAL_KM As Total_km
			FROM ((MOTORCYCLE JOIN RENTABLE_BIKE ON MOTORCYCLE.FRAME_NO=RENTABLE_BIKE.FRAME_NO)
			JOIN MOTO_STATION ON RENTABLE_BIKE.MOTO_STATION=MOTO_STATION.NUMBER)
	END
	ELSE
	BEGIN
		INSERT @Bike_table SELECT RENTABLE_BIKE.FRAME_NO,LOCALIZATION As Motostation, BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle, PRICE_KM As Price_km,
			TOTAL_KM As Total_km
			FROM ((MOTORCYCLE JOIN RENTABLE_BIKE ON MOTORCYCLE.FRAME_NO=RENTABLE_BIKE.FRAME_NO)
			JOIN MOTO_STATION ON RENTABLE_BIKE.MOTO_STATION=MOTO_STATION.NUMBER)
			WHERE MOTO_STATION.NUMBER=@motostation;
	END
	RETURN;
END

GO
/****** Object:  UserDefinedFunction [dbo].[BIKES_FROM_STAND]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BIKES_FROM_STAND](@stand INT) returns @Bike_table Table
												(Frame_no INT, Localization varchar(30), Motorcycle varchar(50), Price INT) 
AS
BEGIN

	IF(@stand = -1)
	BEGIN
		INSERT @Bike_table SELECT STOCK_BIKE.FRAME_NO, LOCALIZATION As Stand, BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle, PRICE As Price
			FROM ((MOTORCYCLE JOIN STOCK_BIKE ON MOTORCYCLE.FRAME_NO=STOCK_BIKE.FRAME_NO)
			JOIN STAND ON STOCK_BIKE.STAND=STAND.NUMBER)
	END
	ELSE
	BEGIN
		INSERT @Bike_table SELECT STOCK_BIKE.FRAME_NO, LOCALIZATION As Stand, BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle, PRICE As Price
			FROM ((MOTORCYCLE JOIN STOCK_BIKE ON MOTORCYCLE.FRAME_NO=STOCK_BIKE.FRAME_NO)
			JOIN STAND ON STOCK_BIKE.STAND=STAND.NUMBER)
			WHERE STAND.NUMBER = @stand;
	END
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[MOST_ACTIVE_CLIENT]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MOST_ACTIVE_CLIENT]() RETURNS @most_active TABLE(Client varchar(30))
AS 
BEGIN
	DECLARE @times_rented AS TABLE(Client INT, Rented_bikes INT);
	DECLARE @max_times_rented AS INT;
	INSERT @times_rented SELECT CLIENT, COUNT(CLIENT) As Rented_bikes FROM RENT GROUP BY CLIENT;
	SELECT @max_times_rented=MAX(Rented_bikes) FROM @times_rented;
	INSERT @most_active SELECT TOP 1 C_NAME 
		   FROM @times_rented JOIN CLIENT ON CLIENT=CLIENT.NIF  
		   WHERE Rented_bikes=@max_times_rented;
	
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[MOST_EXPENSIVE_BIKE]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MOST_EXPENSIVE_BIKE]() Returns @mexp_bike Table(Motorcycle varchar(50), Price INT)
AS
BEGIN
	DECLARE @highest_price AS INT;
	SELECT @highest_price=MAX(PRICE) FROM STOCK_BIKE;

	INSERT @mexp_bike SELECT  BRAND + ' ' + MODEL AS Motorcycle, PRICE AS Price
					  FROM STOCK_BIKE JOIN MOTORCYCLE ON STOCK_BIKE.FRAME_NO=MOTORCYCLE.FRAME_NO
					  WHERE PRICE=@highest_price
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[MOST_RENTED_BIKE]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MOST_RENTED_BIKE]() RETURNS @most_rented TABLE(Motorcycle varchar(50), Times_Rented INT)
AS
BEGIN
	DECLARE @highest_times AS INT;
	SELECT @highest_times=MAX(times_rented) FROM BIKES_TIMES_RENTED();

	INSERT @most_rented SELECT Motorcycle, times_rented As Times_rented
		   FROM BIKES_TIMES_RENTED()
		   WHERE times_rented=@highest_times;

	RETURN;
END
GO
/****** Object:  Table [dbo].[MOTORCYCLE]    Script Date: 07-Jun-19 18:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTORCYCLE](
	[FRAME_NO] [int] NOT NULL,
	[MODEL] [varchar](20) NULL,
	[BRAND] [varchar](20) NULL,
	[YEAR] [int] NOT NULL,
	[CC] [int] NOT NULL,
	[HP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FRAME_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MOTORCYCLE_INFO]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MOTORCYCLE_INFO] AS
	SELECT BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle FROM MOTORCYCLE;
GO
/****** Object:  Table [dbo].[STOCK_BIKE]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_BIKE](
	[FRAME_NO] [int] NOT NULL,
	[PRICE] [int] NOT NULL,
	[STAND] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FRAME_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[STOCK_BIKE_INFO]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STOCK_BIKE_INFO] AS
	SELECT BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle
	FROM MOTORCYCLE JOIN STOCK_BIKE ON MOTORCYCLE.FRAME_NO=STOCK_BIKE.FRAME_NO;
GO
/****** Object:  Table [dbo].[RENTABLE_BIKE]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTABLE_BIKE](
	[FRAME_NO] [int] NOT NULL,
	[PRICE_KM] [int] NOT NULL,
	[TOTAL_KM] [int] NULL,
	[MOTO_STATION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FRAME_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RENT_BIKE_INFO]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RENT_BIKE_INFO] AS
	SELECT BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle
	FROM MOTORCYCLE JOIN RENTABLE_BIKE ON MOTORCYCLE.FRAME_NO=RENTABLE_BIKE.FRAME_NO;
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[NIF] [int] NOT NULL,
	[C_NAME] [varchar](30) NOT NULL,
	[C_ADDRESS] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_MEMBER]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_MEMBER](
	[NUMBER] [int] IDENTITY(100,1) NOT NULL,
	[S_NAME] [varchar](20) NOT NULL,
	[S_ADDRESS] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALESMAN]    Script Date: 07-Jun-19 18:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALESMAN](
	[NUMBER] [int] NOT NULL,
	[WORK_STAND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[INVOICE_NO] [int] IDENTITY(1000,1) NOT NULL,
	[CLIENT] [int] NULL,
	[MOTORCYCLE] [int] NULL,
	[SELLER] [int] NULL,
	[PRICE] [int] NULL,
	[S_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SALESMAN_SALES]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SALESMAN_SALES] AS
	SELECT S_NAME As Salesman, C_NAME As Client,  
	BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle,SALE.PRICE As Price
	FROM ((((SALE JOIN SALESMAN ON SELLER=NUMBER)
	JOIN STAFF_MEMBER ON SELLER=STAFF_MEMBER.NUMBER)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO = SALE.MOTORCYCLE)
	JOIN CLIENT ON CLIENT.NIF=SALE.CLIENT)
GO
/****** Object:  View [dbo].[CLIENT_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CLIENT_INFO] AS
	SELECT C_NAME + ' - ' + CONVERT(varchar,NIF) AS Client FROM CLIENT;
GO
/****** Object:  View [dbo].[SALESMAN_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SALESMAN_INFO] AS
	SELECT S_NAME + ' - ' + CONVERT(varchar, SALESMAN.NUMBER) AS Salesman 
	FROM SALESMAN JOIN STAFF_MEMBER ON SALESMAN.NUMBER=STAFF_MEMBER.NUMBER;
GO
/****** Object:  Table [dbo].[MECHANIC]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MECHANIC](
	[NUMBER] [int] NOT NULL,
	[WORK_WORKSHOP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MECHANIC_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MECHANIC_INFO] AS
	SELECT S_NAME + ' - ' + CONVERT(varchar, MECHANIC.NUMBER) AS Mechanic 
	FROM MECHANIC JOIN STAFF_MEMBER ON MECHANIC.NUMBER=STAFF_MEMBER.NUMBER;
GO
/****** Object:  Table [dbo].[STAND]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAND](
	[NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[LOCALIZATION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[STAND_LOCALIZATION]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STAND_LOCALIZATION] AS
	SELECT NUMBER, LOCALIZATION FROM STAND;
GO
/****** Object:  Table [dbo].[MOTO_STATION]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTO_STATION](
	[NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[LOCALIZATION] [varchar](100) NOT NULL,
	[CAPACITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MOTOSTATION_LOCALIZATION]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MOTOSTATION_LOCALIZATION] AS
	SELECT NUMBER, LOCALIZATION FROM MOTO_STATION;
GO
/****** Object:  View [dbo].[vw_SALES]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SALES] 
AS
	SELECT INVOICE_NO AS Invoice, S_DATE AS Date, BRAND + ' ' + MODEL AS Motorcycle
	FROM (((SALE JOIN SALESMAN ON SELLER=NUMBER)
	JOIN STAFF_MEMBER ON SALESMAN.NUMBER=STAFF_MEMBER.NUMBER)
	JOIN MOTORCYCLE ON MOTORCYCLE=FRAME_NO);
GO
/****** Object:  Table [dbo].[REVISION]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVISION](
	[REVISION_NO] [int] IDENTITY(1000,1) NOT NULL,
	[FRAME_NO] [int] NULL,
	[R_DATE] [date] NULL,
	[PRICE] [int] NULL,
	[MECHANIC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[REVISION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_REVISIONS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_REVISIONS] AS 
	SELECT REVISION.REVISION_NO AS Number, REVISION.R_DATE as Date, BRAND + ' ' + MODEL AS Motorcycle
	FROM (((REVISION JOIN MECHANIC ON REVISION.MECHANIC=MECHANIC.NUMBER)
	JOIN STAFF_MEMBER ON MECHANIC.NUMBER = STAFF_MEMBER.NUMBER)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO=REVISION.FRAME_NO);
GO
/****** Object:  Table [dbo].[RENT]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENT](
	[FRAME_NO] [int] NOT NULL,
	[R_DATE] [date] NOT NULL,
	[CLIENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FRAME_NO] ASC,
	[R_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RENTS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RENTS] AS
	SELECT R_DATE AS Date, BRAND + ' ' + MODEL AS Motorcycle
	FROM (((RENT JOIN MOTORCYCLE ON RENT.FRAME_NO=MOTORCYCLE.FRAME_NO)
	JOIN RENTABLE_BIKE ON RENT.FRAME_NO=RENTABLE_BIKE.FRAME_NO)
	JOIN MOTO_STATION ON RENTABLE_BIKE.MOTO_STATION=MOTO_STATION.NUMBER);
GO
/****** Object:  View [dbo].[STAFF_SALESMEN]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STAFF_SALESMEN] AS 
	SELECT Member.NUMBER, Member.S_NAME, LOCALIZATION
	FROM ((SALESMAN JOIN STAFF_MEMBER AS Member ON SALESMAN.NUMBER = Member.NUMBER)
	JOIN STAND ON SALESMAN.WORK_STAND=STAND.NUMBER);
GO
/****** Object:  Table [dbo].[WORKSHOP]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKSHOP](
	[NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[LOCALIZATION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[STAFF_MECHANICS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STAFF_MECHANICS] AS 
	SELECT Member.NUMBER, Member.S_NAME, LOCALIZATION
	FROM ((MECHANIC JOIN STAFF_MEMBER AS Member ON MECHANIC.NUMBER = Member.NUMBER)
	JOIN WORKSHOP ON MECHANIC.WORK_WORKSHOP=WORKSHOP.NUMBER);
GO
/****** Object:  UserDefinedFunction [dbo].[CLIENT_RENTS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CLIENT_RENTS](@Client INT) Returns Table
AS
	RETURN (SELECT C_NAME As Client, BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC) AS Motorcycle, R_DATE as Rent_Date
	FROM ((CLIENT JOIN RENT ON CLIENT.NIF = RENT.CLIENT)
	JOIN MOTORCYCLE ON RENT.FRAME_NO=MOTORCYCLE.FRAME_NO)
	WHERE CLIENT.NIF = @Client);
GO
/****** Object:  UserDefinedFunction [dbo].[STAFF_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[STAFF_INFO](@Staff_nr INT) Returns Table
AS
	RETURN (SELECT S_NAME, S_ADDRESS 
		    FROM STAFF_MEMBER
			WHERE NUMBER = @Staff_nr);
GO
/****** Object:  UserDefinedFunction [dbo].[SALESMAN_FROM_STAND]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SALESMAN_FROM_STAND](@Stand INT) Returns Table
AS
	RETURN (SELECT SALESMAN.NUMBER AS ID, S_NAME AS Name, S_ADDRESS as Address
	FROM (SALESMAN JOIN STAFF_MEMBER ON SALESMAN.NUMBER = STAFF_MEMBER.NUMBER)
	WHERE WORK_STAND = @Stand);
GO
/****** Object:  UserDefinedFunction [dbo].[MECHANIC_FROM_WORKSHOP]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MECHANIC_FROM_WORKSHOP](@Workshop INT) Returns Table
AS
	RETURN (SELECT MECHANIC.NUMBER AS ID, S_NAME AS Name, S_ADDRESS as Address
	FROM (MECHANIC JOIN STAFF_MEMBER ON MECHANIC.NUMBER = STAFF_MEMBER.NUMBER)
	WHERE WORK_WORKSHOP = @Workshop);
GO
/****** Object:  UserDefinedFunction [dbo].[SALES_FROM_SALESMAN]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SALES_FROM_SALESMAN](@Salesman INT) Returns Table
AS
	RETURN(SELECT INVOICE_NO AS Invoice, S_DATE AS Date, C_NAME AS Client, BRAND + ' ' + MODEL AS Motorcycle, CC, HP, YEAR AS Year,
	SALE.PRICE AS Price
	FROM ((((SALE JOIN SALESMAN ON SELLER=SALESMAN.NUMBER)
	JOIN STAFF_MEMBER ON STAFF_MEMBER.NUMBER=SALESMAN.NUMBER)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO = SALE.MOTORCYCLE)
	JOIN CLIENT ON CLIENT.NIF=SALE.CLIENT)
	WHERE SALESMAN.NUMBER=@Salesman);
GO
/****** Object:  Table [dbo].[OWNED_BIKE]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OWNED_BIKE](
	[FRAME_NO] [int] NOT NULL,
	[LICENSE_PLATE] [int] NOT NULL,
	[TOTAL_KM] [int] NULL,
	[B_OWNER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FRAME_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHANGED_PARTS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGED_PARTS](
	[REVISION_NO] [int] NOT NULL,
	[PART] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REVISION_NO] ASC,
	[PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[REVISIONS_FROM_MECHANIC]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[REVISIONS_FROM_MECHANIC](@Mechanic INT) Returns Table
AS
	RETURN(SELECT REVISION.REVISION_NO AS Number, REVISION.R_DATE AS Date, BRAND + ' ' + MODEL AS Motorcycle, CC, HP, YEAR AS Year, 
	C_NAME AS Owner, PRICE AS Price, COUNT(*) AS Parts
	FROM (((((((REVISION JOIN MECHANIC ON REVISION.MECHANIC=MECHANIC.NUMBER)
	JOIN STAFF_MEMBER ON MECHANIC.NUMBER = STAFF_MEMBER.NUMBER)
	JOIN WORKSHOP ON MECHANIC.WORK_WORKSHOP=WORKSHOP.NUMBER)
	LEFT OUTER JOIN OWNED_BIKE ON REVISION.FRAME_NO=OWNED_BIKE.FRAME_NO)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO=REVISION.FRAME_NO)
	LEFT OUTER JOIN CLIENT ON OWNED_BIKE.B_OWNER=CLIENT.NIF)
	JOIN CHANGED_PARTS ON REVISION.REVISION_NO=CHANGED_PARTS.REVISION_NO)
	WHERE REVISION.MECHANIC=@Mechanic
	GROUP BY REVISION.REVISION_NO, REVISION.R_DATE, BRAND, MODEL, CC, HP, YEAR, C_NAME, PRICE);
GO
/****** Object:  UserDefinedFunction [dbo].[FULL_STOCK_MOTORCYCLE_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FULL_STOCK_MOTORCYCLE_INFO](@Frame INT) Returns TABLE
AS
	RETURN (SELECT MOTORCYCLE.FRAME_NO, BRAND, MODEL, YEAR, CC, HP, PRICE, LOCALIZATION
		    FROM ((MOTORCYCLE JOIN STOCK_BIKE ON MOTORCYCLE.FRAME_NO = STOCK_BIKE.FRAME_NO)
			JOIN STAND ON STAND.NUMBER=STOCK_BIKE.STAND)
			WHERE MOTORCYCLE.FRAME_NO = @Frame) 
GO
/****** Object:  UserDefinedFunction [dbo].[FULL_RENT_MOTORCYCLE_INFO]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FULL_RENT_MOTORCYCLE_INFO](@Frame INT) Returns TABLE
AS
	RETURN (SELECT MOTORCYCLE.FRAME_NO, BRAND, MODEL, YEAR, CC, HP, PRICE_KM, TOTAL_KM, LOCALIZATION
		    FROM ((MOTORCYCLE JOIN RENTABLE_BIKE ON MOTORCYCLE.FRAME_NO = RENTABLE_BIKE.FRAME_NO)
			JOIN MOTO_STATION ON MOTO_STATION.NUMBER=RENTABLE_BIKE.MOTO_STATION)
			WHERE MOTORCYCLE.FRAME_NO = @Frame) 

GO
/****** Object:  UserDefinedFunction [dbo].[STAND_NAME]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[STAND_NAME](@Stand INT) Returns TABLE
AS
	RETURN (SELECT LOCALIZATION FROM STAND WHERE NUMBER=@Stand);
GO
/****** Object:  UserDefinedFunction [dbo].[MOTOSTATION_NAME]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MOTOSTATION_NAME](@ms INT) Returns TABLE
AS
	RETURN (SELECT LOCALIZATION FROM MOTO_STATION WHERE NUMBER=@ms);
GO
/****** Object:  UserDefinedFunction [dbo].[CLIENTS_BIKES]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CLIENTS_BIKES](@client INT) Returns TABLE
AS
	RETURN (SELECT BRAND + ' ' + MODEL AS Motorcycle, LICENSE_PLATE As 'License Plate', TOTAL_KM As 'Total Km' 
	FROM OWNED_BIKE JOIN MOTORCYCLE ON OWNED_BIKE.FRAME_NO = MOTORCYCLE.FRAME_NO
	WHERE OWNED_BIKE.B_OWNER=@client);

GO
/****** Object:  UserDefinedFunction [dbo].[CLIENTS_RENTS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CLIENTS_RENTS](@client INT) Returns TABLE
AS
	RETURN (SELECT R_DATE As Date, BRAND + ' ' + MODEL AS Motorcycle
	FROM RENT JOIN MOTORCYCLE ON RENT.FRAME_NO = MOTORCYCLE.FRAME_NO
	WHERE RENT.CLIENT=@client);

GO
/****** Object:  UserDefinedFunction [dbo].[CLIENTS_REVISIONS]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CLIENTS_REVISIONS](@client INT) Returns TABLE
AS
	RETURN (SELECT REVISION_NO As Number, R_DATE As Date, BRAND + ' ' + MODEL AS Motorcycle
	FROM ((REVISION JOIN OWNED_BIKE ON REVISION.FRAME_NO = OWNED_BIKE.FRAME_NO)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO=OWNED_BIKE.FRAME_NO)
	WHERE OWNED_BIKE.B_OWNER=@client);

GO
/****** Object:  Table [dbo].[PART]    Script Date: 07-Jun-19 18:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART](
	[NUMBER] [int] NOT NULL,
	[PART_TEXT] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[REVISION_PARTS]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[REVISION_PARTS](@rev_number INT) Returns TABLE
AS
	RETURN (SELECT PART_TEXT As Part
	FROM CHANGED_PARTS JOIN PART ON CHANGED_PARTS.PART=PART.NUMBER
	WHERE CHANGED_PARTS.REVISION_NO=@rev_number);

GO
/****** Object:  UserDefinedFunction [dbo].[SALE_DETAILED]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SALE_DETAILED] (@Invoice INT) Returns TABLE
AS
	RETURN (SELECT BRAND + ' ' +  MODEL AS Motorcycle, CC, HP, C_NAME AS Client, 
	S_NAME AS Seller, STAND.LOCALIZATION AS Stand, PRICE as Price
	FROM (((((SALE JOIN SALESMAN ON SELLER=NUMBER)
	JOIN STAFF_MEMBER ON SALESMAN.NUMBER=STAFF_MEMBER.NUMBER)
	JOIN MOTORCYCLE ON MOTORCYCLE=FRAME_NO)
	JOIN CLIENT ON CLIENT.NIF=SALE.CLIENT)
	JOIN STAND ON SALESMAN.WORK_STAND=STAND.NUMBER)
	WHERE INVOICE_NO=@Invoice);
GO
/****** Object:  UserDefinedFunction [dbo].[REVISION_DETAILED]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[REVISION_DETAILED] (@Number INT) Returns TABLE
AS
	RETURN (SELECT BRAND + ' ' + MODEL AS Motorcycle, CC, HP,
	C_NAME AS Owner, S_NAME AS Mechanic, LOCALIZATION as Workshop, PRICE AS Price, COUNT(*) AS Parts
	FROM (((((((REVISION JOIN MECHANIC ON REVISION.MECHANIC=MECHANIC.NUMBER)
	JOIN STAFF_MEMBER ON MECHANIC.NUMBER = STAFF_MEMBER.NUMBER)
	JOIN WORKSHOP ON MECHANIC.WORK_WORKSHOP=WORKSHOP.NUMBER)
	LEFT OUTER JOIN OWNED_BIKE ON REVISION.FRAME_NO=OWNED_BIKE.FRAME_NO)
	JOIN MOTORCYCLE ON MOTORCYCLE.FRAME_NO=REVISION.FRAME_NO)
	LEFT OUTER JOIN CLIENT ON OWNED_BIKE.B_OWNER=CLIENT.NIF)
	JOIN CHANGED_PARTS ON REVISION.REVISION_NO=CHANGED_PARTS.REVISION_NO)
	WHERE REVISION.REVISION_NO=@Number
	GROUP BY LOCALIZATION, S_NAME, BRAND, MODEL, CC, HP, C_NAME, PRICE);
GO
/****** Object:  UserDefinedFunction [dbo].[RENT_DETAILED]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RENT_DETAILED] (@Date varchar(20), @Frame varchar(20)) Returns TABLE
AS
	RETURN (SELECT BRAND + ' ' + MODEL AS Motorcycle, CC, HP, C_NAME AS Client,
	LOCALIZATION AS MotoStation, PRICE_KM AS Price
	FROM ((((RENT JOIN MOTORCYCLE ON RENT.FRAME_NO=MOTORCYCLE.FRAME_NO)
	JOIN RENTABLE_BIKE ON RENT.FRAME_NO=RENTABLE_BIKE.FRAME_NO)
	JOIN MOTO_STATION ON RENTABLE_BIKE.MOTO_STATION=MOTO_STATION.NUMBER)
	JOIN CLIENT ON CLIENT.NIF=RENT.CLIENT)
	WHERE R_DATE=CONVERT(Date, @Date, 6) AND (BRAND + ' ' + MODEL)=@Frame);
GO
/****** Object:  UserDefinedFunction [dbo].[BIKES_TIMES_RENTED]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BIKES_TIMES_RENTED]() RETURNS TABLE
AS
	RETURN(SELECT BRAND + ' ' + MODEL As Motorcycle, COUNT(MOTORCYCLE.FRAME_NO) As times_rented 
		   FROM RENT JOIN MOTORCYCLE ON RENT.FRAME_NO=MOTORCYCLE.FRAME_NO
		   GROUP BY BRAND + ' ' + MODEL)
GO
/****** Object:  View [dbo].[EDITOR_FUNCIONARIO]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EDITOR_FUNCIONARIO] ASSELECT pub_name, fname, lnameFROM (pubs.dbo.publishers JOIN pubs.dbo.employee ON pubs.dbo.publishers.pub_id=pubs.dbo.employee.pub_id)
GO
/****** Object:  View [dbo].[LIVROS_BUSINESS]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LIVROS_BUSINESS] ASSELECT titleFROM pubs.dbo.titles WHERE pubs.dbo.titles.type='Business'WITH CHECK OPTION;
GO
/****** Object:  View [dbo].[TITULO_AUTOR]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TITULO_AUTOR] ASSELECT au_fname + ' ' + au_lname AS author, title FROM ((pubs.dbo.titles JOIN pubs.dbo.titleauthor ON pubs.dbo.titles.title_id=pubs.dbo.titleauthor.title_id)JOIN pubs.dbo.authors ON pubs.dbo.titleauthor.au_id=pubs.dbo.authors.au_id)
GO
/****** Object:  View [dbo].[TITULOS_PLOJA]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TITULOS_PLOJA] ASSELECT stor_name, title FROM ((pubs.dbo.stores JOIN pubs.dbo.sales ON pubs.dbo.stores.stor_id=pubs.dbo.sales.stor_id)JOIN pubs.dbo.titles ON pubs.dbo.sales.title_id=pubs.dbo.titles.title_id)
GO
/****** Object:  Table [ex41].[Aluguer]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Aluguer](
	[N_ALUGUER] [int] NOT NULL,
	[DURACAO] [int] NULL,
	[DATA_ALUGUER] [date] NULL,
	[TITULAR] [int] NOT NULL,
	[LOCAL_ALUGUER] [int] NOT NULL,
	[OBJETO] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_ALUGUER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Balcao]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Balcao](
	[N_BALCAO] [int] NOT NULL,
	[NOME] [varchar](10) NULL,
	[ENDERECO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[N_BALCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Cliente]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Cliente](
	[NIF] [int] NOT NULL,
	[NOME] [varchar](15) NULL,
	[ENDERECO] [varchar](20) NULL,
	[NR_CARTA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Ligeiro]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Ligeiro](
	[CODIGO] [int] NOT NULL,
	[N_LUGARES] [int] NULL,
	[COMBUSTIVEL] [varchar](5) NULL,
	[PORTAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Pesado]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Pesado](
	[CODIGO] [int] NOT NULL,
	[PESO] [int] NULL,
	[PASSAGEIROS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Similaridade]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Similaridade](
	[TIPO1] [int] NOT NULL,
	[TIPO2] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPO1] ASC,
	[TIPO2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[TipoVeiculo]    Script Date: 07-Jun-19 18:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[TipoVeiculo](
	[CODIGO] [int] NOT NULL,
	[AR_COND] [bit] NULL,
	[DESIGNACAO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ex41].[Veiculo]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ex41].[Veiculo](
	[MATRICULA] [varchar](6) NOT NULL,
	[MARCA] [varchar](10) NULL,
	[ANO] [int] NULL,
	[TIPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHANGED_PARTS] ([REVISION_NO], [PART]) VALUES (1000, 612)
INSERT [dbo].[CHANGED_PARTS] ([REVISION_NO], [PART]) VALUES (1001, 627)
INSERT [dbo].[CHANGED_PARTS] ([REVISION_NO], [PART]) VALUES (1001, 759)
INSERT [dbo].[CLIENT] ([NIF], [C_NAME], [C_ADDRESS]) VALUES (252292370, N'Ana Pinto', N'Rua Augusta, Nr 39, 5Esq')
INSERT [dbo].[CLIENT] ([NIF], [C_NAME], [C_ADDRESS]) VALUES (334455137, N'Inês Jesus', N'Rua Ferreira Lapa, Nr 27, 4RC')
INSERT [dbo].[CLIENT] ([NIF], [C_NAME], [C_ADDRESS]) VALUES (368759194, N'Gabriel Marques', N'Calçada de Carriche, Nr 33, 4Dir')
INSERT [dbo].[MECHANIC] ([NUMBER], [WORK_WORKSHOP]) VALUES (100, 3)
INSERT [dbo].[MECHANIC] ([NUMBER], [WORK_WORKSHOP]) VALUES (102, 3)
INSERT [dbo].[MECHANIC] ([NUMBER], [WORK_WORKSHOP]) VALUES (104, 1)
SET IDENTITY_INSERT [dbo].[MOTO_STATION] ON 

INSERT [dbo].[MOTO_STATION] ([NUMBER], [LOCALIZATION], [CAPACITY]) VALUES (1, N'Arruda dos Vinhos', 5)
INSERT [dbo].[MOTO_STATION] ([NUMBER], [LOCALIZATION], [CAPACITY]) VALUES (2, N'Odivelas', 7)
INSERT [dbo].[MOTO_STATION] ([NUMBER], [LOCALIZATION], [CAPACITY]) VALUES (3, N'Lisboa', 9)
SET IDENTITY_INSERT [dbo].[MOTO_STATION] OFF
INSERT [dbo].[MOTORCYCLE] ([FRAME_NO], [MODEL], [BRAND], [YEAR], [CC], [HP]) VALUES (228509205, N'GS', N'BMW', 2012, 200, 28)
INSERT [dbo].[MOTORCYCLE] ([FRAME_NO], [MODEL], [BRAND], [YEAR], [CC], [HP]) VALUES (295824100, N'X-Max', N'Kawasaki', 2006, 125, 18)
INSERT [dbo].[MOTORCYCLE] ([FRAME_NO], [MODEL], [BRAND], [YEAR], [CC], [HP]) VALUES (300972264, N'MT', N'Yamanha', 2016, 250, 35)
INSERT [dbo].[OWNED_BIKE] ([FRAME_NO], [LICENSE_PLATE], [TOTAL_KM], [B_OWNER]) VALUES (295824100, 897399, 0, 334455137)
INSERT [dbo].[OWNED_BIKE] ([FRAME_NO], [LICENSE_PLATE], [TOTAL_KM], [B_OWNER]) VALUES (306828931, 245384, 0, 861402984)
INSERT [dbo].[OWNED_BIKE] ([FRAME_NO], [LICENSE_PLATE], [TOTAL_KM], [B_OWNER]) VALUES (318859512, 133781, 0, 368759194)
INSERT [dbo].[PART] ([NUMBER], [PART_TEXT]) VALUES (134, N'Pinhao de ataque')
INSERT [dbo].[PART] ([NUMBER], [PART_TEXT]) VALUES (180, N'Borboleta do escape')
INSERT [dbo].[PART] ([NUMBER], [PART_TEXT]) VALUES (208, N'Oleo')
INSERT [dbo].[RENT] ([FRAME_NO], [R_DATE], [CLIENT]) VALUES (300972264, CAST(N'2016-03-06' AS Date), 713335592)
INSERT [dbo].[RENT] ([FRAME_NO], [R_DATE], [CLIENT]) VALUES (473129104, CAST(N'2015-05-13' AS Date), 533527675)
INSERT [dbo].[RENT] ([FRAME_NO], [R_DATE], [CLIENT]) VALUES (484926357, CAST(N'2017-10-20' AS Date), 334455137)
INSERT [dbo].[RENTABLE_BIKE] ([FRAME_NO], [PRICE_KM], [TOTAL_KM], [MOTO_STATION]) VALUES (228509205, 9, 21289, 2)
INSERT [dbo].[RENTABLE_BIKE] ([FRAME_NO], [PRICE_KM], [TOTAL_KM], [MOTO_STATION]) VALUES (300972264, 4, 12754, 5)
INSERT [dbo].[RENTABLE_BIKE] ([FRAME_NO], [PRICE_KM], [TOTAL_KM], [MOTO_STATION]) VALUES (473129104, 6, 27566, 1)
SET IDENTITY_INSERT [dbo].[REVISION] ON 

INSERT [dbo].[REVISION] ([REVISION_NO], [FRAME_NO], [R_DATE], [PRICE], [MECHANIC]) VALUES (1000, 473129104, CAST(N'2016-01-16' AS Date), 417, 104)
INSERT [dbo].[REVISION] ([REVISION_NO], [FRAME_NO], [R_DATE], [PRICE], [MECHANIC]) VALUES (1001, 538617208, CAST(N'2015-04-04' AS Date), 480, 100)
INSERT [dbo].[REVISION] ([REVISION_NO], [FRAME_NO], [R_DATE], [PRICE], [MECHANIC]) VALUES (1002, 536008267, CAST(N'2015-07-04' AS Date), 36, 116)
SET IDENTITY_INSERT [dbo].[REVISION] OFF
SET IDENTITY_INSERT [dbo].[SALE] ON 

INSERT [dbo].[SALE] ([INVOICE_NO], [CLIENT], [MOTORCYCLE], [SELLER], [PRICE], [S_DATE]) VALUES (1000, 774141018, 538617208, 107, 18966, CAST(N'2015-06-08' AS Date))
INSERT [dbo].[SALE] ([INVOICE_NO], [CLIENT], [MOTORCYCLE], [SELLER], [PRICE], [S_DATE]) VALUES (1001, 494804541, 536008267, 119, 5132, CAST(N'2017-04-15' AS Date))
INSERT [dbo].[SALE] ([INVOICE_NO], [CLIENT], [MOTORCYCLE], [SELLER], [PRICE], [S_DATE]) VALUES (1002, 368759194, 318859512, 119, 17618, CAST(N'2017-02-04' AS Date))
SET IDENTITY_INSERT [dbo].[SALE] OFF
INSERT [dbo].[SALESMAN] ([NUMBER], [WORK_STAND]) VALUES (101, 2)
INSERT [dbo].[SALESMAN] ([NUMBER], [WORK_STAND]) VALUES (103, 2)
INSERT [dbo].[SALESMAN] ([NUMBER], [WORK_STAND]) VALUES (105, 2)
SET IDENTITY_INSERT [dbo].[STAFF_MEMBER] ON 

INSERT [dbo].[STAFF_MEMBER] ([NUMBER], [S_NAME], [S_ADDRESS]) VALUES (100, N'Francisca Ribeiro', N'Rua dos Fanqueiros, Nr 44, 2RC')
INSERT [dbo].[STAFF_MEMBER] ([NUMBER], [S_NAME], [S_ADDRESS]) VALUES (101, N'Miguel Gonçalves', N'Rua da Madalena, Nr 21, 2RC')
INSERT [dbo].[STAFF_MEMBER] ([NUMBER], [S_NAME], [S_ADDRESS]) VALUES (102, N'Martim Martins', N'Rua da Alfândega, Nr 12, 6RC')
SET IDENTITY_INSERT [dbo].[STAFF_MEMBER] OFF
SET IDENTITY_INSERT [dbo].[STAND] ON 

INSERT [dbo].[STAND] ([NUMBER], [LOCALIZATION]) VALUES (1, N'Alenquer')
INSERT [dbo].[STAND] ([NUMBER], [LOCALIZATION]) VALUES (2, N'Loures')
INSERT [dbo].[STAND] ([NUMBER], [LOCALIZATION]) VALUES (3, N'Oeiras')
SET IDENTITY_INSERT [dbo].[STAND] OFF
INSERT [dbo].[STOCK_BIKE] ([FRAME_NO], [PRICE], [STAND]) VALUES (404368408, 2924, 1)
INSERT [dbo].[STOCK_BIKE] ([FRAME_NO], [PRICE], [STAND]) VALUES (550505423, 13310, 3)
INSERT [dbo].[STOCK_BIKE] ([FRAME_NO], [PRICE], [STAND]) VALUES (692573842, 15150, 1)
SET IDENTITY_INSERT [dbo].[WORKSHOP] ON 

INSERT [dbo].[WORKSHOP] ([NUMBER], [LOCALIZATION]) VALUES (1, N'Cadaval')
INSERT [dbo].[WORKSHOP] ([NUMBER], [LOCALIZATION]) VALUES (2, N'Azambuja')
INSERT [dbo].[WORKSHOP] ([NUMBER], [LOCALIZATION]) VALUES (3, N'Lourinhã')
SET IDENTITY_INSERT [dbo].[WORKSHOP] OFF
ALTER TABLE [dbo].[CHANGED_PARTS]  WITH CHECK ADD FOREIGN KEY([REVISION_NO])
REFERENCES [dbo].[REVISION] ([REVISION_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHANGED_PARTS]  WITH CHECK ADD FOREIGN KEY([PART])
REFERENCES [dbo].[PART] ([NUMBER])
GO
ALTER TABLE [dbo].[MECHANIC]  WITH CHECK ADD FOREIGN KEY([NUMBER])
REFERENCES [dbo].[STAFF_MEMBER] ([NUMBER])
GO
ALTER TABLE [dbo].[MECHANIC]  WITH CHECK ADD FOREIGN KEY([WORK_WORKSHOP])
REFERENCES [dbo].[WORKSHOP] ([NUMBER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OWNED_BIKE]  WITH CHECK ADD  CONSTRAINT [BIKE_OWNER] FOREIGN KEY([B_OWNER])
REFERENCES [dbo].[CLIENT] ([NIF])
GO
ALTER TABLE [dbo].[OWNED_BIKE] CHECK CONSTRAINT [BIKE_OWNER]
GO
ALTER TABLE [dbo].[OWNED_BIKE]  WITH CHECK ADD FOREIGN KEY([FRAME_NO])
REFERENCES [dbo].[MOTORCYCLE] ([FRAME_NO])
GO
ALTER TABLE [dbo].[RENT]  WITH CHECK ADD FOREIGN KEY([CLIENT])
REFERENCES [dbo].[CLIENT] ([NIF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RENT]  WITH CHECK ADD FOREIGN KEY([FRAME_NO])
REFERENCES [dbo].[RENTABLE_BIKE] ([FRAME_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RENTABLE_BIKE]  WITH CHECK ADD FOREIGN KEY([FRAME_NO])
REFERENCES [dbo].[MOTORCYCLE] ([FRAME_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RENTABLE_BIKE]  WITH CHECK ADD FOREIGN KEY([MOTO_STATION])
REFERENCES [dbo].[MOTO_STATION] ([NUMBER])
GO
ALTER TABLE [dbo].[REVISION]  WITH CHECK ADD FOREIGN KEY([FRAME_NO])
REFERENCES [dbo].[MOTORCYCLE] ([FRAME_NO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[REVISION]  WITH CHECK ADD FOREIGN KEY([MECHANIC])
REFERENCES [dbo].[MECHANIC] ([NUMBER])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SALE]  WITH CHECK ADD FOREIGN KEY([CLIENT])
REFERENCES [dbo].[CLIENT] ([NIF])
GO
ALTER TABLE [dbo].[SALE]  WITH CHECK ADD FOREIGN KEY([MOTORCYCLE])
REFERENCES [dbo].[MOTORCYCLE] ([FRAME_NO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SALE]  WITH CHECK ADD FOREIGN KEY([SELLER])
REFERENCES [dbo].[SALESMAN] ([NUMBER])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SALESMAN]  WITH CHECK ADD FOREIGN KEY([NUMBER])
REFERENCES [dbo].[STAFF_MEMBER] ([NUMBER])
GO
ALTER TABLE [dbo].[SALESMAN]  WITH CHECK ADD FOREIGN KEY([WORK_STAND])
REFERENCES [dbo].[STAND] ([NUMBER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STOCK_BIKE]  WITH CHECK ADD  CONSTRAINT [BIKE_IN_STAND] FOREIGN KEY([STAND])
REFERENCES [dbo].[STAND] ([NUMBER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STOCK_BIKE] CHECK CONSTRAINT [BIKE_IN_STAND]
GO
ALTER TABLE [dbo].[STOCK_BIKE]  WITH CHECK ADD FOREIGN KEY([FRAME_NO])
REFERENCES [dbo].[MOTORCYCLE] ([FRAME_NO])
ON DELETE CASCADE
GO
ALTER TABLE [ex41].[Aluguer]  WITH CHECK ADD FOREIGN KEY([TITULAR])
REFERENCES [ex41].[Cliente] ([NIF])
GO
ALTER TABLE [ex41].[Aluguer]  WITH CHECK ADD  CONSTRAINT [LOCALBALCAO] FOREIGN KEY([LOCAL_ALUGUER])
REFERENCES [ex41].[Balcao] ([N_BALCAO])
GO
ALTER TABLE [ex41].[Aluguer] CHECK CONSTRAINT [LOCALBALCAO]
GO
ALTER TABLE [ex41].[Aluguer]  WITH CHECK ADD  CONSTRAINT [OBJMATRICULA] FOREIGN KEY([OBJETO])
REFERENCES [ex41].[Veiculo] ([MATRICULA])
GO
ALTER TABLE [ex41].[Aluguer] CHECK CONSTRAINT [OBJMATRICULA]
GO
ALTER TABLE [ex41].[Ligeiro]  WITH CHECK ADD FOREIGN KEY([CODIGO])
REFERENCES [ex41].[TipoVeiculo] ([CODIGO])
GO
ALTER TABLE [ex41].[Pesado]  WITH CHECK ADD FOREIGN KEY([CODIGO])
REFERENCES [ex41].[TipoVeiculo] ([CODIGO])
GO
ALTER TABLE [ex41].[Similaridade]  WITH CHECK ADD FOREIGN KEY([TIPO1])
REFERENCES [ex41].[TipoVeiculo] ([CODIGO])
GO
ALTER TABLE [ex41].[Similaridade]  WITH CHECK ADD FOREIGN KEY([TIPO2])
REFERENCES [ex41].[TipoVeiculo] ([CODIGO])
GO
ALTER TABLE [ex41].[Veiculo]  WITH CHECK ADD  CONSTRAINT [CODVEICULO] FOREIGN KEY([TIPO])
REFERENCES [ex41].[TipoVeiculo] ([CODIGO])
GO
ALTER TABLE [ex41].[Veiculo] CHECK CONSTRAINT [CODVEICULO]
GO
ALTER TABLE [dbo].[CHANGED_PARTS]  WITH CHECK ADD CHECK  (([PART]>(0)))
GO
ALTER TABLE [dbo].[MOTO_STATION]  WITH CHECK ADD CHECK  (([CAPACITY]>(0)))
GO
ALTER TABLE [dbo].[MOTORCYCLE]  WITH CHECK ADD CHECK  (([FRAME_NO]>(100000000) AND [FRAME_NO]<(1000000000)))
GO
ALTER TABLE [dbo].[MOTORCYCLE]  WITH CHECK ADD CHECK  (([CC]>(0) AND [CC]<(5000)))
GO
ALTER TABLE [dbo].[MOTORCYCLE]  WITH CHECK ADD CHECK  (([HP]>(0) AND [HP]<(1000)))
GO
ALTER TABLE [dbo].[MOTORCYCLE]  WITH CHECK ADD CHECK  (([YEAR]>(1900) AND [YEAR]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[OWNED_BIKE]  WITH CHECK ADD CHECK  (([LICENSE_PLATE]>(0)))
GO
ALTER TABLE [dbo].[OWNED_BIKE]  WITH CHECK ADD CHECK  (([TOTAL_KM]>=(0)))
GO
ALTER TABLE [dbo].[RENTABLE_BIKE]  WITH CHECK ADD CHECK  (([PRICE_KM]>(0)))
GO
ALTER TABLE [dbo].[RENTABLE_BIKE]  WITH CHECK ADD CHECK  (([TOTAL_KM]>(0)))
GO
ALTER TABLE [dbo].[REVISION]  WITH CHECK ADD CHECK  (([PRICE]>(0)))
GO
ALTER TABLE [dbo].[STOCK_BIKE]  WITH CHECK ADD CHECK  (([PRICE]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[ms_ADD_MECHANIC]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_ADD_MECHANIC] (@Name varchar(20), @Address varchar(150), @Workshop INT)
AS
	INSERT STAFF_MEMBER(S_NAME, S_ADDRESS) VALUES (@Name, @Address);
	Declare @id INT
	SELECT @id=NUMBER FROM STAFF_MEMBER WHERE S_NAME=@NAME;
	
	INSERT MECHANIC(NUMBER, WORK_WORKSHOP) VALUES (@id, @Workshop);
GO
/****** Object:  StoredProcedure [dbo].[ms_ADD_SALESMAN]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_ADD_SALESMAN] (@Name varchar(20), @Address varchar(150), @Stand INT)
AS
	INSERT STAFF_MEMBER(S_NAME, S_ADDRESS) VALUES (@Name, @Address);
	Declare @id INT
	SELECT @id=NUMBER FROM STAFF_MEMBER WHERE S_NAME=@NAME;
	
	INSERT SALESMAN(NUMBER, WORK_STAND) VALUES (@id, @Stand);
GO
/****** Object:  StoredProcedure [dbo].[ms_ADD_STAND]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_ADD_STAND] (@Localization varchar(150))
AS
	IF EXISTS (SELECT 1 FROM STAND WHERE LOCALIZATION=@Localization)
		RAISERROR ('Já existe um Stand em %s', 16, 1, @Localization);
	ELSE
		INSERT STAND(LOCALIZATION) VALUES (@Localization)
GO
/****** Object:  StoredProcedure [dbo].[ms_ADD_WORKSHOP]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_ADD_WORKSHOP] (@Localization varchar(150))
AS
	IF EXISTS (SELECT 1 FROM WORKSHOP WHERE LOCALIZATION=@Localization)
		RAISERROR ('Já existe uma Workshop em %s', 16, 1, @Localization);
	ELSE
		INSERT WORKSHOP(LOCALIZATION) VALUES (@Localization);
GO
/****** Object:  StoredProcedure [dbo].[ms_INSERT_OWNED_MOTORCYCLE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_INSERT_OWNED_MOTORCYCLE](@FRAME_NO INT, @MODEL VARCHAR(20), @BRAND VARCHAR(20), @YEAR INT, @CC INT, @HP INT,
								   @LICENSE_PLATE INT, @TOTAL_KM INT, @OWNER INT)
AS
	-- Insert in the parent table
	INSERT MOTORCYCLE (FRAME_NO, MODEL, BRAND, YEAR, CC, HP) VALUES (@FRAME_NO, @MODEL, @BRAND, @YEAR, @CC, @HP);
	-- Insert in the child table
	INSERT OWNED_BIKE(FRAME_NO, LICENSE_PLATE, TOTAL_KM, B_OWNER) VALUES (@FRAME_NO, @LICENSE_PLATE, @TOTAL_KM, @OWNER);
GO
/****** Object:  StoredProcedure [dbo].[ms_INSERT_RENTABLE_MOTORCYCLE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_INSERT_RENTABLE_MOTORCYCLE](@FRAME_NO INT, @MODEL VARCHAR(20), @BRAND VARCHAR(20), @YEAR INT, @CC INT, @HP INT,
								   @PRICE_KM INT, @TOTAL_KM INT, @MOTO_STATION INT)
AS
	-- Insert in the parent table
	INSERT MOTORCYCLE (FRAME_NO, MODEL, BRAND, YEAR, CC, HP) VALUES (@FRAME_NO, @MODEL, @BRAND, @YEAR, @CC, @HP);
	-- Insert in the child table
	INSERT RENTABLE_BIKE(FRAME_NO, PRICE_KM, TOTAL_KM, MOTO_STATION) VALUES (@FRAME_NO, @PRICE_KM, @TOTAL_KM, @MOTO_STATION);
GO
/****** Object:  StoredProcedure [dbo].[ms_INSERT_STOCK_MOTORCYCLE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_INSERT_STOCK_MOTORCYCLE](@FRAME_NO INT, @MODEL VARCHAR(20), @BRAND VARCHAR(20), @YEAR INT, @CC INT, @HP INT,
								   @PRICE INT, @STAND INT)
AS
	-- Insert in the parent table
	INSERT MOTORCYCLE (FRAME_NO, MODEL, BRAND, YEAR, CC, HP) VALUES (@FRAME_NO, @MODEL, @BRAND, @YEAR, @CC, @HP);
	-- Insert in the child table
	INSERT STOCK_BIKE (FRAME_NO, PRICE, STAND) VALUES (@FRAME_NO, @PRICE, @STAND);
GO
/****** Object:  StoredProcedure [dbo].[ms_PERFORM_RENT]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_PERFORM_RENT](@Bike varchar(30), @Client INT)
AS
	DECLARE @Frame INT;

	SELECT @Frame = FRAME_NO
	FROM MOTORCYCLE WHERE (BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC)) = @Bike

	INSERT INTO RENT (FRAME_NO, R_DATE, CLIENT) VALUES (@Frame, CONVERT (date, GETDATE()), @Client); 

GO
/****** Object:  StoredProcedure [dbo].[ms_PERFORM_REVISION]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_PERFORM_REVISION](@Bike varchar(30), @Mechanic INT, @Price INT)
AS
	DECLARE @Frame INT;

	SELECT @Frame = FRAME_NO
	FROM MOTORCYCLE WHERE (BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC)) = @Bike

	INSERT INTO REVISION (FRAME_NO, R_DATE, PRICE, MECHANIC) VALUES (@Frame, CONVERT (date, GETDATE()), @Price, @Mechanic); 

	DECLARE @Part INT;
	SELECT @Part = NUMBER FROM PART ORDER BY NEWID()
	
	DECLARE @RevNumber INT;
	SELECT @RevNumber = REVISION_NO FROM REVISION ORDER BY REVISION_NO ASC
	
	INSERT INTO CHANGED_PARTS(REVISION_NO, PART) VALUES (@RevNumber, @Part);

GO
/****** Object:  StoredProcedure [dbo].[ms_PERFORM_SALE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_PERFORM_SALE](@Bike varchar(30), @Client INT, @Seller INT)
AS
	DECLARE @Price INT;
	DECLARE @Frame INT;

	SELECT @Price = PRICE
	FROM STOCK_BIKE JOIN MOTORCYCLE ON STOCK_BIKE.FRAME_NO=MOTORCYCLE.FRAME_NO
	WHERE (BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC)) = @Bike

	SELECT @Frame = FRAME_NO
	FROM MOTORCYCLE WHERE (BRAND + ' ' + MODEL + ' ' + CONVERT(varchar, CC)) = @Bike

	INSERT INTO SALE (CLIENT, MOTORCYCLE, SELLER, PRICE, S_DATE) VALUES (@Client, @Frame, @Seller, @Price, CONVERT (date, GETDATE())); 
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_MECHANIC]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_MECHANIC] (@Number INT)
AS 
	IF EXISTS (SELECT * FROM MECHANIC WHERE NUMBER=@Number)
	BEGIN
		DELETE FROM MECHANIC WHERE NUMBER=@Number;
		DELETE FROM STAFF_MEMBER WHERE NUMBER=@Number;
	END
	ELSE
		RAISERROR ('Não existe nenhum mecânico com o Número %d', 14, 1, @Number);
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_RENT]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_RENT](@Bike varchar(30), @Date varchar(20))
AS
	DECLARE @Frame INT;

	SELECT @Frame = FRAME_NO
	FROM MOTORCYCLE WHERE (BRAND + ' ' + MODEL) = @Bike
	
	DELETE FROM RENT WHERE RENT.FRAME_NO = @Frame AND RENT.R_DATE = CONVERT(Date, @Date, 6);
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_REVISION]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_REVISION](@Number INT)
AS
	DELETE FROM REVISION WHERE REVISION.REVISION_NO = @Number;
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_SALE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_SALE](@Invoice INT)
AS
	DELETE FROM SALE WHERE SALE.INVOICE_NO = @Invoice;
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_SALESMAN]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_SALESMAN] (@Number INT)
AS 
	IF EXISTS (SELECT * FROM SALESMAN WHERE NUMBER=@Number)
	BEGIN
		DELETE FROM SALESMAN WHERE NUMBER=@Number;
		DELETE FROM STAFF_MEMBER WHERE NUMBER=@Number;
	END
	ELSE
		RAISERROR ('Não existe nenhum vendedor com o Número %d', 14, 1, @Number);
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_STAND]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_STAND] (@ID INT)
AS
	IF EXISTS (SELECT * FROM STAND WHERE NUMBER=@ID)
		DELETE FROM STAND WHERE NUMBER=@ID;
	ELSE
		RAISERROR ('Não existe nenhum Stand com o ID %d', 14, 1, @ID);
GO
/****** Object:  StoredProcedure [dbo].[ms_REM_WORKSHOP]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_REM_WORKSHOP] (@ID INT)
AS
	IF EXISTS (SELECT * FROM WORKSHOP WHERE NUMBER=@ID)
		DELETE FROM WORKSHOP WHERE NUMBER=@ID;
	ELSE
		RAISERROR ('Não existe nenhuma Workshop com o ID %d', 14, 1, @ID);
GO
/****** Object:  StoredProcedure [dbo].[ms_UPDATE_RENT_MOTORCYCLE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_UPDATE_RENT_MOTORCYCLE](@Frame INT, @newprice INT, @newkm INT)
AS
	DECLARE @OldKm INT;
	SELECT @OldKm = TOTAL_KM FROM RENTABLE_BIKE WHERE FRAME_NO=@Frame

	IF @OldKm < @newkm
		UPDATE RENTABLE_BIKE SET PRICE_KM=@newprice, TOTAL_KM = @newkm WHERE FRAME_NO = @Frame;
	ELSE
		RAISERROR ('Novos kilometros não podem ser inferiores', 16, 1);
GO
/****** Object:  StoredProcedure [dbo].[ms_UPDATE_STOCK_MOTORCYCLE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ms_UPDATE_STOCK_MOTORCYCLE](@Frame INT, @newprice INT)
AS
	UPDATE STOCK_BIKE SET PRICE=@newprice WHERE FRAME_NO = @Frame;
GO
/****** Object:  Trigger [dbo].[GRANT_DISJOINT_MECHANIC]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------

CREATE TRIGGER [dbo].[GRANT_DISJOINT_MECHANIC] ON [dbo].[MECHANIC]
AFTER INSERT
AS
	DECLARE @id AS INT;
	DECLARE @exists AS INT;
	SELECT @id = NUMBER FROM inserted;
	SELECT @exists = COUNT(*) FROM SALESMAN WHERE NUMBER = @id;

	IF(@exists > 0)
	BEGIN
		raiserror('Funcion�rio j� existe e � um vendedor', 16, 1);
		ROLLBACK TRAN
	END
GO
ALTER TABLE [dbo].[MECHANIC] ENABLE TRIGGER [GRANT_DISJOINT_MECHANIC]
GO
/****** Object:  Trigger [dbo].[GRANT_DISJOINT_OWNED]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[GRANT_DISJOINT_OWNED] ON [dbo].[OWNED_BIKE]
AFTER INSERT
AS
	DECLARE @bike AS INT;
	DECLARE @exists_in_rent AS INT;
	DECLARE @exists_in_stock AS INT;
	SELECT @bike = FRAME_NO FROM inserted;
	SELECT @exists_in_rent = COUNT(*)  FROM RENTABLE_BIKE WHERE FRAME_NO = @bike;
	SELECT @exists_in_stock = COUNT(*) FROM STOCK_BIKE WHERE FRAME_NO = @bike;

	IF(@exists_in_rent > 0 OR @exists_in_stock > 0)
	BEGIN
		raiserror('Mota j� existente em RENT ou STOCK', 16, 1);
		ROLLBACK TRAN
	END
GO
ALTER TABLE [dbo].[OWNED_BIKE] ENABLE TRIGGER [GRANT_DISJOINT_OWNED]
GO
/****** Object:  Trigger [dbo].[GRANT_DISJOINT_RENT]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[GRANT_DISJOINT_RENT] ON [dbo].[RENTABLE_BIKE]
AFTER INSERT
AS
	DECLARE @bike AS INT;
	DECLARE @exists_in_owned AS INT;
	DECLARE @exists_in_stock AS INT;
	SELECT @bike = FRAME_NO FROM inserted;
	SELECT @exists_in_owned = COUNT(*)  FROM OWNED_BIKE WHERE FRAME_NO = @bike;
	SELECT @exists_in_stock = COUNT(*) FROM STOCK_BIKE WHERE FRAME_NO = @bike;

	IF(@exists_in_owned > 0 OR @exists_in_stock > 0)
	BEGIN
		raiserror('Mota j� existente em OWNED ou STOCK', 16, 1);
		ROLLBACK TRAN
	END
GO
ALTER TABLE [dbo].[RENTABLE_BIKE] ENABLE TRIGGER [GRANT_DISJOINT_RENT]
GO
/****** Object:  Trigger [dbo].[COMPLETE_SALE]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[COMPLETE_SALE] ON [dbo].[SALE]
AFTER INSERT
AS
	BEGIN
		DECLARE @sold_bike AS INT;
		DECLARE @sold_to   AS INT;
		DECLARE @sold_bike_license AS INT = RAND()*(999999-100000)+100000;
		SELECT  @sold_bike = MOTORCYCLE FROM inserted;
		SELECT  @sold_to = CLIENT FROM inserted; 

		DELETE FROM STOCK_BIKE WHERE FRAME_NO=@sold_bike
		INSERT INTO OWNED_BIKE (FRAME_NO, LICENSE_PLATE, TOTAL_KM, B_OWNER) 
		VALUES(@sold_bike, @sold_bike_license, 0, @sold_to);
		
	END
GO
ALTER TABLE [dbo].[SALE] ENABLE TRIGGER [COMPLETE_SALE]
GO
/****** Object:  Trigger [dbo].[GRANT_DISJOINT_SALESMAN]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------

CREATE TRIGGER [dbo].[GRANT_DISJOINT_SALESMAN] ON [dbo].[SALESMAN]
AFTER INSERT
AS
	DECLARE @id AS INT;
	DECLARE @exists AS INT;
	SELECT @id = NUMBER FROM inserted;
	SELECT @exists = COUNT(*) FROM MECHANIC WHERE NUMBER = @id;

	IF(@exists > 0)
	BEGIN
		raiserror('Funcion�rio j� existe e � um mec�nico', 16, 1);
		ROLLBACK TRAN
	END
GO
ALTER TABLE [dbo].[SALESMAN] ENABLE TRIGGER [GRANT_DISJOINT_SALESMAN]
GO
/****** Object:  Trigger [dbo].[GRANT_DISJOINT_STOCK]    Script Date: 07-Jun-19 18:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------

CREATE TRIGGER [dbo].[GRANT_DISJOINT_STOCK] ON [dbo].[STOCK_BIKE]
AFTER INSERT
AS
	DECLARE @bike AS INT;
	DECLARE @exists_in_rent AS INT;
	DECLARE @exists_in_owned AS INT;
	SELECT @bike = FRAME_NO FROM inserted;
	SELECT @exists_in_rent = COUNT(*)  FROM RENTABLE_BIKE WHERE FRAME_NO = @bike;
	SELECT @exists_in_owned = COUNT(*) FROM OWNED_BIKE WHERE FRAME_NO = @bike;

	IF(@exists_in_rent > 0 OR @exists_in_owned > 0)
	BEGIN
		raiserror('Mota j� existente em RENT ou OWNED', 16, 1);
		ROLLBACK TRAN
	END
GO
ALTER TABLE [dbo].[STOCK_BIKE] ENABLE TRIGGER [GRANT_DISJOINT_STOCK]
GO
USE [master]
GO
